*{
box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.page-actions-cont{
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left:1rem;
}

.page-action{
    margin: 0.5rem;
    color: #f1f2f6;
    
}

.cellprop-actions-cont{
    height: 3rem;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    padding-left:1rem;
}

.cellprop-actions-cont > * {
    display: inline-block;
    margin-right: 1rem;
}


.cellprop-actions-cont > select{
    border: none; 
    border-radius: 2px;
}

.font-size-prop{
    padding: 0.2rem;
}

.formula-actions-cont{
    height: 3rem;
    background-color: rgb(88, 119, 190);
    padding-left:1rem;
    display:flex;
    align-items: center;
}

.formula-actions-cont > *{
    display:inline-block;
    margin-right:0.7rem;
}
.formula-actions-cont > input{
    border:none;
    outline:none;
}

.formula-icon{
    height:1.2rem;
}

.adress-bar{
    width:5rem;
}
.formula-bar{
    /* container - adress bar - margin - paddding -  formula-icon*/
    width :calc(100vw - 5rem - 0.7rem - 0.7rem - 1.2rem);
}

.font-family-prop{
    padding: 0.2rem;
}

.sheet-actions-cont{
    height: 3rem;
    background-color: rgb(230, 222, 212);
    display:flex;
    align-items:center;
    padding-left:0.5rem;
    padding-right:0.5rem;
    gap:1rem ; /*It's add the space in between the elements*/
}

.sheet-actions-cont>*{
    display:inline-block;
}

.sheet-add-icon{
    width:2vw; 
}
.sheet-folder-cont{
    display:flex;
    align-items:center ;
    height:80%;
    width:5rem;
    /* background-color:antiquewhite; */
    width: calc(100vw - 2vw);
}

.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size:0.9rem;
}

.grid-cont{
    height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
    background-color: rgb(176, 227, 227);
}